<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <h2 class="navbar-brand">WELCOME TO  MY PORTFOLIO</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img class="img" src="assets/image2.jpg"/>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DEVELOPER OPTION</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hobies">Hobies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">Location</a>
          </li>
          <li class="nav-item dropdown">  
        </ul>
      </div>
    </div>
  </div>
</nav>
<a name="home">
<div class="content">
  <img class="m"src="assets/im2.jpg">
  <img class="m"src="assets/im3.jpg">
  <img class="m"src="assets/im1.jpg">
</div>
<div class="content">
  <img class="m2"src="assets/im6.png">
  <img class="m2"src="assets/image2.jpg">
  <img class="m2"src="assets/m7.jpg">
</div>
</a>
<a name="hobies">
  <fieldset>
    <h2>WELCOME TO MY HOBIES</h2>
  </fieldset>
  <div class="content">
    <img class="m2"src="assets/hob3.jpg">
    <img class="m2"src="assets/hob2.jpg">
    <img class="m2"src="assets/hob1.jpg">
  </div>
  <div class="content">
    <img class="m2"src="assets/hob4.jpg">
    <img class="m2"src="assets/hob6.jpg">
    <img class="m2"src="assets/hob5.jpg">
  </div>
</a>
<a name="contact">
  <fieldset>
    <h2>CONTACT</h2>
  </fieldset>
  <div class="imagecontact">
    <img class="conmage" src="assets/image2.jpg">
    <div class="btn">
      <input type="text" placeholder="FIRSTNAME"/>
      <input type="text"placeholder="LASTNAME" />
    </div>
    <div class="btn">
      <input type="text" placeholder="EMAIL"/>
      <input type="number"placeholder="PHONE NUMBER" />
    </div>
    <div class="btn">
      <input class="m3" type="text" placeholder="YOUR MESSAGE HERE"/>
    </div>
    <div class="btn">
      <input class="s" type="submit" placeholder="YOUR MESSAGE HERE"/>
    </div>
  </div>
</a>
<a name="location">
  <fieldset>
    <h2>location</h2>
  </fieldset>
  <div class="imagecontact">
    <img class="lonmage" src="assets/location.png">
    <h3>CONTACT ME:</h3>
    <div class="flex2">
      <p>Facebook:   MindWrap Er Ror /  Email: panalmarvin791@gmail.com   /  Phone: 09954715520</p>
      <img class="cm"src="assets/facebook.png"/>
      <img class="cm"src="assets/email.jpeg"/>
      <img class="cm"src="assets/phone.jpeg"/>
    </div>
  </div>
</a>
     